.DeviceMonitor {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 15px;

  @media(max-width: 700px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.DeviceMonitor__Device {
  text-decoration: none;
  text-align: center;
  padding: 25px 15px;
  color: inherit;
  background: $color-accent;
  border-radius: 4px;
  display: grid;
  grid-gap: 10px;

  &--online {
    background: $color-success;
    color: #fff;
  }

  &--offline {
    background: $color-danger;
    color: #fff;
  }

  &__icon {
    font-size: 2.5rem;
  }

  &__name {
    font-size: 1.6rem;
  }

  &__ip {
    opacity: .8;
    font-size: 1.3rem;
  }
}