.Connections {
  display: grid;
  grid-auto-flow: column;
  grid-template-rows: auto;
  grid-gap: $gap-lg;
}

.Connection {
  display: grid;
  grid-gap: $gap-md;
  align-content: center;
  border-radius: 4px;
  padding: $gap-xl;
  background: $color-accent;

  &__label {
    font-size: $font-size-lg;
    text-align: center;
  }

  &__actions {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    grid-gap: $gap-sm;
  }

  &--not-running {
    background: $color-danger;
    color: white;
  }

  &--active {
    background: $color-success;
    color: white;
  }

  &__action {
    background: rgba($color-text, .3);
    color: white;
  }

  &__action:hover {
    background: white;
    color: $color-text;
  }
}
