.Devices {
  &__inner {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: $gap-lg;

    @media(max-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

.Device {
  text-decoration: none;
  text-align: center;
  display: grid;
  grid-gap: $gap-md;
  align-content: center;
  border-radius: 4px;
  padding: $gap-xl;
  background: $color-accent;

  &--online {
    background: $color-success;
    color: $color-text-inverse;
  }

  &--offline {
    background: $color-danger;
    color: $color-text-inverse;
  }

  &__icon {
    font-size: $font-size-lg;
  }

  &__ip {
    opacity: .8;
  }
}
