.Header {
  background: #3498db;
  color: $color-text-highlighted;
  display: none;

  @media (display-mode: standalone) {
    display: block;
  }

  &__title {
    margin: 0;
    padding: 0;
    font-weight: normal;
    text-align: center;
    font-size: 1.7rem;
    line-height: 55px;
  }
}
