.Power {
  text-align: center;
  display: grid;
  grid-gap: $gap-md;
  align-content: center;
  border-radius: 4px;
  padding: $gap-xl;
  background: $color-accent;

  &--up {
    background: $color-success;
    color: $color-text-inverse;
  }

  &--down {
    background: $color-danger;
    color: $color-text-inverse;
  }

  &__icon {
    font-size: $font-size-lg;
  }
}
