.Throughput {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-gap: $gap-lg;
}

.Speed {
  display: grid;
  grid-gap: $gap-md;
  align-content: center;
  border-radius: 4px;
  padding: $gap-xl;
  background: $color-background-highlighted;

  &__bytes {
    font-size: $font-size-xxl;
    text-align: center;
  }

  &__unit {
    text-align: center;
  }
}
