$color-text: rgba(white, .6);
$color-text-highlighted: rgba(white, .8);
$color-background: #22262E;
$color-background-highlighted: lighten(#22262E, 5%);
$color-success: #00b894;
$color-danger: #ff6b6b;

$gap-sm: 5px;
$gap-md: 10px;
$gap-lg: 15px;
$gap-xl: 20px;
$gap-xxl: 25px;

$radius-md: 4px;

$font-size-sm: 1.3rem;
$font-size-md: 1.4rem;
$font-size-lg: 1.8rem;
$font-size-xl: 2rem;
$font-size-xxl: 3rem;
