$color-text: #22262E;
$color-text-inverse: #fff;
$color-success: #00b894;
$color-danger: #ff6b6b;
$color-accent: lighten(#22262E, 5%);

$gap-sm: 5px;
$gap-md: 10px;
$gap-lg: 15px;
$gap-xl: 20px;
$gap-xxl: 25px;

$radius-md: 4px;

$font-size-lg: 3rem;
